absl-py==0.5.0
astor==0.7.1
backports.weakref==1.0.post1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Django==1.11.16
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
idna==2.7
image==1.5.27
ItsDangerous==1.0.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.0
mock==2.0.0
numpy==1.15.2
pandas==0.23.4
pbr==5.0.0
Pillow==5.3.0
protobuf==3.6.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
simple-tensorflow-serving==0.6.5
six==1.11.0
tensorboard==1.11.0
tensorflow==1.15.4
termcolor==1.1.0
urllib3==1.24
Werkzeug==0.14.1
